{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'recents/recentstyle.css' %}" />
        <title>RECENTS</title>
    </head>

    <body>
        <h1 id="mema_title">Page ng RECENTS to boy. HAHA</h1>

        <div id="nav_btn" class="rounded_corners">
            <button><a href="{% url 'home' %}">Home</a></button>
            <button><a href="{% url 'recents' %}" class="active_tab">Recents</a></button>
            <button><a href="{% url 'show_unreturned_items' %}">Unreturned</a></button>
            <button><a href="{% url 'notification' %}">Notification</a></button>
            <button><a href="{% url 'userprofile' %}">Account</a></button>
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div>

        <div id="container" class="rounded_corners">

            <!-- test block code -->
            <!-- template for the items -->
            {% for items in borrowed_item %}
            <div id="wrapper">
                <div id="top">
                    <div id="left">
                        {% if items.item.item_photo %}
                            <img src="" alt="" class="inventory_item" width="100%" height="100%" object-fit="contain">
                        {% endif %}

                    </div>
                    <div id="right">
                        <p id="item_name">Name nung item {{items.item.item_name}}</p>
                        <p id="item_details">
                            Time Borrowed: {{items.item_date_borrowed}}<br />
                            Time Returned: {{items.item_date_returned}}<br />
                            Borrower: {{items.item_borrower}}
                        </p>
                        <p id="item_quantity">Item Quantity: {{items.item_quantity}}</p>

                    </div>
                </div>
                <div id="bottom">
                    <!-- <div id="btn_con">
                        <button id="return_btn" class="rounded_corners">Return</button>
                    </div> -->
                </div>

            </div>
            {% endfor %}
            <!-- template for the items -->

        </div>

    </body>
</html>