{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static '\recents\recentstyle.css' %}" />
        <title>RECENTS</title>
    </head>
   
    <header>
        <div class="logo"></div>
      <div class="logo-cont"></div>
      <div class="left">
        <img src="static\recents\logo\LSPU.png" alt="">
      </div>

      <form method="GET" action="{% url 'search_items' %}"></form>
      <div class="search-bar">
        <input type="text" name="q" value="{{ query }}" class="search-input" placeholder="Search for name/id/category">
        <button type="submit">Search</button>
        
    <i class="fas fa-search"></i>

        </div>
      </form>
      <div class="right">
      <div class="logo-cont"></div>
        <img src="static\recents\logo\ccs.png" alt="">
      </div>

    </header>

    <body>

        <div class="head">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="containers">
        <div id="nav_btn" class="rounded_corners">
            <button><a href="{% url 'home' %}" class="navbar-brand">Home</a></button>
            <button><a href="{% url 'recents' %}" class="active_tab" class="navbar-brand">Recents</a></button>
            <button><a href="{% url 'unreturned' %}" class="navbar-brand">Unreturned</a></button>
            <button><a href="{% url 'notification' %}" class="navbar-brand">Notification</a></button>
            <button><a href="{% url 'userprofile' %}" class="navbar-brand">Account</a></button>
            <button><a href="{% url 'logout' %}" class="navbar-brand">Logout</a></button>
        </div>
       </nav>
        <div id="container" class="rounded_corners">

            <!-- test block code -->
            <!-- template for the items -->
            {% for items in borrowed_item reversed %}
            <div id="wrapper">
                <div id="top">
                    <div id="left">
                        {% if items.item_stock.item_information.item_photo %}
                            <img src="{{ items.item_stock.item_information.item_photo.url }}" alt="" class="inventory_item"  height="100%" object-fit="contain">
                        {% endif %}

                    </div>
                    <div id="right">
                        <p id="item_name">{{items.item_stock.item_information.item_name}}</p>
                        <p id="item_details">
                            Time Borrowed: {{items.item_date_borrowed}}<br />
                            Time Returned: {{items.item_date_returned}}<br />
                            Borrower: {{items.item_borrower}}
                        </p>
                        <p id="item_quantity">Item Quantity: {{items.item_quantity}}</p>

                    </div>
                </div>
                <div id="bottom">
                    <div id="btn_con">
                        <!-- <button id="return_btn" class="rounded_corners">Return</button> -->
                    </div>
                </div>

            </div>
            {% endfor %}
            <!-- template for the items -->

        </div>
        
    </body>
</html>

{% include 'home/result_list.html' %}