/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*
Start coding here
*/

.notification-indicator {
  color: red;  
  font-size: 16px;  
  margin-left: 5px;  
}
body {
  line-height:1;
  line-height:1;
  height: 100%;
  width : 100%;
  min-height : 100vh;
  background: rgb(255, 255, 255);
  margin: 0; 
  overflow-x: hidden;
  overflow-y : scroll;
  font-family: Arial, sans-serif; 
  padding-top: 100px;
}
 

 .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(113,26,33); 
  padding: 5px;
  border-bottom: 20px solid rgb(230,124,55); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.left-section {
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-shrink: 0;
}

.lspu-logo{
  width: 90px;
  border-radius:50px;
  margin: 0;
  padding: 0;
}

.middle-section {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.search-form {
  display: flex;
  flex: 1;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 14px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: white;
  color: #000000; 
  font-size: 15px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
  width: 0;
}

.search-bar::placeholder {
  font-family: Arial, Helvetica, sans-serif!important;
  font-size: 15px!important;
}

.search-button {
  background-color: rgb(230, 124, 55)!important;
  color: #ffffff!important;
  padding: 10px 15px!important;
  border-radius: 3px!important;
  cursor: pointer!important;
  margin-right: 10px!important;
  border: none;
  width: 100px;
  height: 43px;
  margin-bottom: 0!important;
}

.search-button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2)!important;
}


form {
  display: flex;
  flex: 1;
  align-items: center;
}


.right-section {
  width: 100px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.ccs-logo{
  width: 92px;
  border-radius:46px;
}

.head {
  display: flex;
  background-color: orange;
  padding: 10px;
}
  
.buttons-box {
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.20); 
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}

.button-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  flex-wrap: wrap;
  align-content: first baseline;
  gap: 1em;
}

.buttons-tabs {
  background-color: rgb(255,255,255);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  transition-duration: 0.4s;
}
  
.buttons-tabs:hover  {
  color: rgb(230,124,55);
  text-decoration: underline solid  rgb(230,124,55) 2px;
}

.buttons-tabs:active {
  color: rgb(230,124,55);
  text-decoration: underline solid  rgb(230,124,55) 2px;
}

a{
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-family: Arial;
}

a:link { 
  text-decoration: none; 
} 

a:hover { 
  color: rgb(230,124,55);
  text-decoration: underline solid  rgb(230,124,55) 2px;
} 

a:active { 
  color: rgb(230,124,55);
  text-decoration: underline solid  rgb(230,124,55) 2px;
} 
 
 .form{
    background-color: #f8f9fa;
    padding: 5rem 0;
    border: 2px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; 
    border-radius: 15px;
 }
 
 p{
    width: 1000px;
    height: 10px;
    font-family: orienta;
    font-weight: 100;
    font-size: 20px;
    line-height: 41.83px;
    text-align: left;
    margin-left: 2rem;
 }

 li{
    margin-left: 2rem;
    margin-top: .5rem;
 }

 ul{
margin-top: -.01rem;
 }

 .form-item {
    background-color: #f8f9fa;
    padding: 10rem;
    border-bottom: 1px solid black;
    margin: 35px 35px 35px 35px; 
    border-radius: 15px;
    border: 3px solid gray;
    border-radius: 10px;
    padding: auto;
 }

 a:link{
    color: #000;
    background-color: transparent;
    text-decoration: none;
 }
  
 a:hover{
    color: #000;
    background-color: transparent;
    text-decoration: underline;
 }

a:active{
    color: #92141e;
    background-color: transparent;
    text-decoration: underline;
 }
 
 #wrapper {
   margin: 10px;
   padding: 10px;
   background-color: #f9f9f9; 
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    margin: 10px; 
  }

  .container 
  {
    flex-direction: column; 
    align-items: flex-start;
  }
  .item-container
  {
    flex-direction: column; 
    align-items: flex-start;
  }

  .navbar-brand {
    margin: 5px 10px; 
  }
  .form,.form-item, .item-form-item{
    margin: 10px; 
  }
  h1 {
    margin-left: 0.5rem; 
  }
   .button-container {
    flex-direction: column; 
    align-items: flex-start;
  }
 button.remove,
  button.add {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; 
  }
  .confirmation-pop-up {
    max-width: 300px; 
}
   
  .confirmation-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #item_body td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #item_body tr {
    display: block;
    margin-bottom: 10px;
  }

  #item_body tr:last-child {
    margin-bottom: 0;
  }

  #item_body td:before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
  #borrowFormId {
    max-width: 100%;
  }
  .form-popup {
    width: 90%;
}
#edit_back_buttons {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

}
