<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/homeadminstyle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>ADMIN HOME</title>
    <body>
        
        <header>
            <div class="logo left">
                <img src="/static/home/adminhome/LSPU.png" alt="Left Logo">
            </div>
            
            <div class="middle-section">
                <form method="GET" action="{% url 'search_items_admin' %}" class="search-form">
                    <input class="search-bar" type="text" name="q" value="{{ query }}" placeholder="Search for name/id/category">
                    <input class="search-button" type="submit" value="Search" name="b">
                </form>
            </div>

            <div class="logo right">
                <img src="/static/home/adminhome/CSS.png" alt="Right Logo">
            </div> 
        </header>

        <div class="head"></div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container">
                    <a href="{% url 'admin_home' %}" class="navbar-brand">Home</a>
                    <a href="{% url 'admin_recents' %}" class="navbar-brand">Recents</a>
                    <a href="{% url 'admin_unreturned' %}" class="navbar-brand">Unreturned</a>
                    <a href="{% url 'members' %}" class="navbar-brand">Members</a>
                    <a href="{% url 'admin_userprofile' %}" class="navbar-brand">Account</a>
                    <a href="{% url 'logout' %}" class="navbar-brand">Logout</a>
                </div>
            </nav>

                <div id="mainForm" class="form">
                
                    <div class="item">
                        <div id="edit_category_buttons">
                            
                            <button onclick="editCategory()"><i class="fa fa-edit"></i></button>
                        </div>        

                        <div class="categories" id="category_container">
                            {% for category in categories %}
                            <button onclick="showItem('{{ category }}')" class="category_button">{{ category }}</button>
                            {% endfor %}
                           
                        </div>
                        
                        {% include 'home/result_list_admin.html' %}
                       
                
                        <div id="add_category_form" class="add_category_form">
                
                        </div>
                        
                        <div id="delete_confirmation" class="delete_confirmation">
                
                        </div>

                        <div id="category_item" class="category_div">
                            <div id="item_list">
                
                            </div>
                            <div id="edit_back_buttons">
                                
                            </div>
                            <div id="add_item">
                                <div id="add_item_form"> 
                
                                </div>
                                <div id="add_stock_form">
                
                                </div>
                                <div id="success_popup">
                
                                </div>
                            </div>
                        </div>
                </div>

            <h1>{{ current_category }}</h1>

            <div class="item_information" id="item_information">
                <div class="item_header" id="item_header">
                       
                </div>

                <div class="item_body" id="item_body">

                </div>
                <div class="item_form" id="item_form">

                </div>
                
            </div>

        </div>
             
        <script defer src="{% static 'home/homeadminscript.js' %}"></script>
    </body>
</html>