{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/homestyle.css' %}">
        <title>GUEST HOME</title>
    </head>

    <body>
        <h1>GUEST HOME</h1>
        <div class="header">
            
            <div class="left-section">
                <img class="lspu-logo" src="{% static 'home/logo/lspu-logo.png' %}">
            </div>

            <div class="middle-section">
                <form method="get" action="{% url 'home' %}">
                    <input class="search-bar" type="text" placeholder="Search by name,id,category" value="{{ query }}">
                    <input class="search-button" type="submit" value="Search">
                </form>
            </div>

            <div class="right-section">
                <img class="ccs-logo" src="{% static 'home/logo/ccs-logo.jpg' %}">
            </div>
            
        </div>
        
        
        
        <div class="guest-button-grid">
            {% include 'home/result_list.html' %}
            <button class="guest-buttons-tabs"><a href="{% url 'home' %}">Home</a></button>
            <button class="guest-buttons-tabs"><a href="{% url 'logout' %}">Log out</a></button>
        </div>    


        <div class="category-container">
            <p class="category-container-title">
                Categories 
            </p>   
            <!-- category-grid -->
            <div class="categories">

                {% for category in categories %}
                <!-- CATEGORY-PREVIEW -->
                <button onclick="showItem('{{ category }}')" class="category_button">
                {{ category }}
                </button>
                {% endfor %}
            </div>
        </div>

        <div id="category_item" class="category_div">
            <div id="item_list">

            </div>
            <h1>{{ current_category }}</h1>
            {% for item in cleaning_inventory %}
                <div>
                    
                </div>
            {% endfor %}
            <div class="item_information" id="item_information">
                <div class="item_header" id="item_header">

                    <button data-close-button class="close_button">&times;</button>                          
                </div>

                <div class="item_body" id="item_body">

                </div>
                <div class="item_form" id="item_form">

                </div>
                
            </div>
            
        </div>

                    
       
        <script defer src="{% static 'home/homescript.js' %}"></script>
    </body>
</html>