
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!--font style-->
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <header>   
    <div class="logo">
      <img src="Image/LSPU.png" alt="Logo">
    </div>
    <div class="search-bar">
      <input type="text" class="search-input" placeholder="Search...">
      <i class="fas fa-search"></i>
    </div>
    <div class="logo1">
      <img src="Image/CSS.png" alt="Logo">
    </div>
  </header>
  <div class="head"></div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand">Home</a>
      <a class="navbar-brand">Recents</a>
      <a class="navbar-brand">Unreturned</a>
      <a class="navbar-brand">Notifications</a>
      <a class="navbar-brand">Account</a>
    </div>
  </nav>

<div class="form">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <H1>Categories</H1>
    </div>
</div>
</body>
</html>