{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/homestyle.css' %}">

        <title>FACULTY HOME</title>
    </head>
    <h1>FACULTY HOME</h1>
    <body>

        <form method="GET" action="{% url 'search_items' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search for name/id/category">
            <button type="submit">Search</button>
          </form>
        
        <button><a href="{% url 'home' %}">Home</a></button>
        <button><a href="{% url 'recents' %}">Recents</a></button>
        <button><a href="{% url 'unreturned' %}">Unreturned</a></button>
        <button><a href="{% url 'notification' %}">Notification</a></button>
        <button><a href="{% url 'userprofile' %}">Account</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>

        <div class="categories">
            {% for category in categories %}
            <button onclick="showItem('{{ category }}')" class="category_button">{{ category }}</button>
            {% endfor %}
        </div>

        <div id="back-button">
            
        </div>

        <div id="category_item" class="category_div">
            <div id="item_list">

            </div>
            <h1>{{ current_category }}</h1>
            {% for item in cleaning_inventory %}
                <div>

                </div>
            {% endfor %}
            <div class="item_information" id="item_information">
                <div class="item_header" id="item_header">

                    <button data-close-button class="close_button">&times;</button>
                </div>

                <div class="item_body" id="item_body">

                </div>
                <div class="item_form" id="item_form">

                </div>

            </div>

        </div>

        {% include 'home/result_list.html' %}
       

        <script defer src="{% static 'home/homescript.js' %}"></script>
       
    </body>
</html>
