
<div class="confirmation-popup-container">
        <form action="/save_stock_form/" id="stockFormId" method="post" class="form-popup">
            {% csrf_token %}

            <div class="form-group">
                <p>Total item stock:</p>
                <div class="input-container">
                {{ stock_form.item_total_quantity }}
                </div>
            </div>
            
            <div class="form-group">
            <p>Total pristine item in stock:</p>
            <div class="input-container">
            {{ stock_form.item_pristine_quantity }}
            </div>
            </div>

            <div class="form-group">
            <p>Total damaged item in stock:</p>
            <div class="input-container">
            {{ stock_form.item_damaged_quantity }}
            </div>
            </div>

            <input type="submit" value="Submit">
            <button type="button" onclick="closeForm('stockFormPopup')" class="additem-button">Cancel</button>
        </form>
</div>