{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'userprofile/userprofile.css' %}">
        <title>ADMIN USER PROFILE</title>
    </head>
    <h1>ADMIN USER PROFILE</h1>
    <body>
        <form method="GET" action="{% url 'search_items_admin' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search for name/id/category">
            <button type="submit">Search</button>
          </form>
        <button><a href="{% url 'admin_home' %}">Home</a></button>
        <button><a href="{% url 'admin_recents' %}">Recents</a></button>
        <button><a href="{% url 'admin_unreturned' %}">Unreturned</a></button>
        <button><a href="{% url 'members' %}">Members</a></button>
        <button><a href="{% url 'admin_userprofile' %}">Account</a></button>
        <button><a href="{% url 'logout' %}">Logout</a></button>


        <div style="display: flex; align-items: center; margin-top: 20px;">
            <img class="rounded-circle account-img" src="{{ user_profile.image.url }}" alt="Profile Image" style="max-width: 200px; max-height: 200px; object-fit: cover; border-radius: 50%;">

            <div style="margin-left: 20px;">
                <h2 class="account-heading">{{ user_profile.user.username }}</h2>
                <p class="text-secondary" style="margin-top: 10px;">Account Name: {{ user_profile.account_name }}</p>
                <p class="text-secondary" style="margin-top: 10px;">Email: {{ user_profile.user.email }}</p>
                <p class="text-secondary" style="margin-top: 10px;">Contact Number: {{ user_profile.contact_number }}</p>

                <button><a href="{% url 'editprofile' %}">Edit Profile</a></button>
            </div>
        </div>

        <style>
            .form-container {
                margin-top: 20px; /* Adjust the margin as needed */
            }
        </style>


        {% include 'home/result_list_admin.html' %}

    </body>
</html>
