{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'login/loginstyle.css' %}">
    </head>

<body>
    <div class="content-section">
        <form action = "{% url 'password_reset_confirm' uidb64=uidb64 token=token %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    <label for="id_password">New Password</label>
                    <input type="password" class="form-control" id="id_password" name="new_password1" placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="id_password_confirm">Confirm New Password</label>
                    <input type="password" class="form-control" id="id_password_confirm" name="new_password2" placeholder="Confirm your new password" required>
                </div>
                <div class="form-group"></div>
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
        
        
