{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'userprofile/userprofile.css' %}">
        <title>USER PROFILE</title>
    </head>
    <body>
      <header>
        <div class="header">
          <div class="logo-left">
           <img src="media\logo\lspu-logo.png" alt="LSPU Logo">
          </div>
          
          <div class="search">
           <input type="text" class="search-input" placeholder="CLEANING MATERIALS" style="width: 1046px;height: 30px;left: 187px;border-radius: 10px;border: 4px;">
           <i class="fas fa-search"></i>
         </div>
  
           <div class="logo-right">
              <img src="media\logo\ccs-logo.png" alt="CSS Logo">
           </div>
          
        </div>
      </header>
      <div class="head"></div>
        <form method="GET" action="{% url 'search_items' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search for name/id/category">
            <button type="submit">Search</button>
          </form>

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
               <a href="{% url 'home' %}" class="navbar-brand">Home</a>
               <a href="{% url 'recents' %}" class="navbar-brand">Recents</a>
               <a href="{% url 'unreturned' %}" class="navbar-brand">Unreturned</a>
               <a href="{% url 'notification' %}" class="navbar-brand">Notifications</a>
               <a href="{% url 'userprofile' %}" class="navbar-brand">Account</a>
               <button><a href="{% url 'logout' %}">Logout</a></button>
            </div>
         </nav>
       
        {% include 'home/result_list.html' %}
        <div id="main" class="form">
         <div class="item">
            <div class="pic">
        <div style="display: flex; align-items: center; margin-top: -150px;">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Image" style="max-width: 200px; max-height: 200px; object-fit: cover; border-radius: 50%;">
         </div>
            
            <div style="margin-left: 20px;">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">Account Name: {{ user.profile.account_name }}</p>
                    <p class="text-secondary" style="margin-top: 10px;">Email: {{ user.email }}</p>
                    <p class="text-secondary" style="margin-top: 10px;">Contact Number: {{ user.profile.contact_number }}</p>
 
                  <div class="btn>"
                    <button><a href="{% url 'editprofile' %}">Edit Profile</a></button>
            </div>
              </div>
               </div>
            </div>
        </div>

            <style>
                .form-container {
                    margin-top: 20px; /* Adjust the margin as needed */
                }
            </style>
           
</html>