{% load static %}
<!DOCTYPE html>
<html>
<head>
   <title>Notifications</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Orienta:regular" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="{% static '/notification/notificationstyle.css' %}">
</head>
<body>

   <header>
      <div class="header">
        <div class="logo-left">
         <img src="media\logo\lspu-logo.png" alt="LSPU Logo">
        </div>

        <div class="search">
         <input type="text" class="search-input" placeholder="CLEANING MATERIALS" style="width: 1046px;height: 30px;left: 187px;border-radius: 10px;border: 4px;">
         <i class="fas fa-search"></i>
       </div>

         <div class="logo-right">
            <img src="media\logo\ccs-logo.png" alt="CSS Logo">
         </div>
        
      </div>
    </header>
<div class="head"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
      <a href="{% url 'search' &}" class="navbar-brand">Home</a>
      <a href="{recents}" class="navbar-brand">Recents</a>
      <a href="{unreturned}" class="navbar-brand">Unreturned</a>
      <a href="{% url 'notifications' &}" class="navbar-brand">Notifications</a>
      <a href="{% url 'account' &}" class="navbar-brand">Account</a>
   </div>
</nav>

<div id="main" class="form">
   <div class="item">
     <p>Messages</p>
  </div>
</div>
  
</body>
</html>
