#popup_form {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    height: fit-content;
}

#popup_form form {
    width: 50%;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popup_form form .input_section{
    display: flex;
    flex-direction: column;
}

#popup_form input {
    height: 30px;
    width: 100%;
    margin: 15px 25px;
    outline-style: solid;
    outline: 2px black;
}

