/* nothing for now */
#popup_form {
    position: relative;
    top: 50%;
    left: 50%;
}

#popup_form form {
    display: flex;
    flex-direction: column;
}

#popup_form a {
    height: 30px;
    outline-style: solid;
    outline: 1px solid orange;
    color: orange;
}