/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/

/* jonas design */
/* * {
    font-family: Arial, Helvetica, sans-serif; background-color: gray;
}
body {
    margin: 15px;
}

#mema_title {
    text-align: center;
    padding: 15px;
}

#nav_btn {
    width: 98%; display: flex; flex-direction: row; padding: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 150px; height: 30px; margin: auto; border: none; background: none;
}

button a {
    text-decoration: none; font-size: 22px; font-weight: 700; color: black;
}

#container {
    width: 100%; float: right; margin-top: 20px; background-color: white; padding-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#wrapper {
    width: 90%; margin: auto; outline: solid 1px gray; margin-bottom: 25px; height: 200px; display: flex; flex-direction: column; background-color: white;
}

#top {
    width: 100%; outline: solid 1px gray; display: flex; height: 80%;
}

#top #left {
    outline: solid 1px gray; width: 20%; display: flex;
}

#top #left img{
    margin: auto;
}
#top #right {
    width: 80%;
}

#top #right #item_name {
    margin-left: 15px; font-size: 22px; font-weight: 500; padding: 15px 0px;
}
#top #right #item_details {
    margin-left: 15px; font-size: 12px;
}
#top #right #item_quantity {
    margin-right: 15px; font-size: 18px; font-weight: 500; text-align: right;
}

#bottom {
    width: 100%; outline: solid 1px gray; height: 20%;
}

#bottom #btn_con {
    width: 100%; height: 100%; text-align: right;
}

#bottom #btn_con button {
    margin: auto 0px; width: 15%; margin-right: 15px; border: 0px; outline: solid 1px gray;
}

.rounded_corners {
    border-radius: 8px;
}

.active_tab{
    text-decoration: underline; color: pink;
}

/*start*/

html{
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }
 
 .header{
    background-color: #7a1a22;
    height: 100px;;
    width: 1520px;
    flex-grow: 1;
    display: flex;
    align-items: center;
 }
     
 .head{
    display: flex;
    background-color:#E67C37;
    padding: 5px;
    width: 1500px;
 }
     
 .header .logo-left img{
    width: 135px;
    padding: 1rem;
 }
    
 .header .logo-right img{
    width: 95px;
    padding: 3rem;
 }

 /*navigations*/
 nav{
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
 }
 
 .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3rem;
    text-decoration: none; /* Remove underline */
    position: relative; /* Position for the pseudo-element */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Add a smooth color and font weight transition */
 }
 
 /* Add hover effect */
 .navbar-brand:hover {
    color:firebrick; /* Change text color on hover */
    font-weight: lighter; /* Change font weight on hover, adjust as needed */
 }
 
 .navbar-brand:hover::before {
    visibility: visible;
    transform: scaleX(1); /* Make the underline visible and scale it */
 }

 .rounded_corners{
    background-color: #f8f9fa;
    padding: 13rem 0;
    border: 2px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
 }

 .inventory_item{
    border: 2px solid black;
    border-radius: 15px;
    margin-left: .5rem;
    margin-top: .5rem;
    height: 200px;
    width: 230px;
 }

 .disc{
    border: 2px solid black;
    margin-left: 15rem;
    margin-top: -10rem;
    width: 68.5%;
 }

p{
    margin-left: 1.5rem;
    margin-top: 5px;
 }

.quan{
    margin-left: 40rem;
    margin-bottom: .5rem;
}
 .group{
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: -10rem;
 }

 .btn{
    margin-left: 55rem;
    margin-bottom: .5rem;
 }