/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/
body {
  /* Your existing body styles */
  line-height:1;
  line-height:1;
  height: 100%;
  width : 100%;
  min-height : 100vh;
  background: rgb(255, 255, 255);
  margin: 0; 
  overflow-x: hidden;
  overflow-y : scroll;
  font-family: Arial, sans-serif; /* Adjust the font family as needed */
  padding-top: 100px;
}
  
  .head {
    display: flex;
    background-color: orange;
    padding: 10px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(113,26,33); /* Top color for the header */
    padding: 5px;
    border-bottom: 20px solid rgb(230,124,55); /* Bottom color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .logo.left {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
  }
  
  .logo.right {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .logo.left img {
    width: 135px;
    margin-right: auto;
  }
    
  .logo.right img {
    width: 80px;
    margin-left: auto;
  }
  
  .middle-section {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .search-form {
    display: flex; /* Add this property to make the form a flex container */
  }
  
  .search-bar {
    flex: 1!important;
    height: 20px!important;
    padding: 10px!important;
    border-radius: 7px!important;
    outline: none!important;
    background-color: white!important;
    color: #000000!important;
    font-size: 15px!important;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2)!important;
  }
  
  .search-bar::placeholder {
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 15px!important;
  }
  
  .search-button {
    background-color: rgb(230, 124, 55)!important;
    color: #ffffff!important;
    padding: 10px 15px!important;
    border-radius: 3px!important;
    cursor: pointer!important;
    margin-left: 10px!important;
  }
  
  .search-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2)!important;
  }
  
  input[name="q"] {
      width: 1060px;
      height: 300px;
      padding: 6px;
      font-size: 16px;
      border-radius: 7px;
      margin-right: 14px;
      
  }
  
  form input[name="b"] {
    width: 80px !important;
    font-size: 14px !important;
    margin-right: 14px !important;
    background-color: rgb(230, 124, 55) !important;
    color: #ffffff !important;
    padding: 8px 12px !important;
    border: 2px solid orange !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-left: 10px !important;
    
  }
  
  /* navigations */
  nav {
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
  }
  
  .container, .recent-container{
    display: flex;
    justify-content: space-between;
    
  }
  .item-container{
    display: flex;
    justify-content: space-between;
    
  }
  .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none; /* Remove underline */
    position: relative; /* Position for the pseudo-element */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Add a smooth color and font weight transition */
  }
  
  /* Create an underline pseudo-element */
  .navbar-brand::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: firebrick; /* Initial underline color */
    visibility: hidden;
    transform: scaleX(0); /* Initially invisible */
    transition: all 0.3s ease; /* Add a smooth transition for visibility and scale */
  }
  
  /* Add hover effect */
  .navbar-brand:hover {
    color:firebrick; /* Change text color on hover */
    font-weight: lighter; /* Change font weight on hover, adjust as needed */
  }
  
  .navbar-brand:hover::before {
    visibility: visible;
    transform: scaleX(1); /* Make the underline visible and scale it */
  }

  .form{
    background-color: #f8f9fa;
    padding: 15px 0;
    border: 2px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
  }
#container {
    border-radius: 10px; /* Adjust the value as needed for the desired roundness */
    overflow: hidden; /* Ensure content inside doesn't overflow rounded corners */
    
}
  #return_btn:hover{
    background-color: orange;
  }

  .inventory_item {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.recent-lines {
  width: 100%;
  border-top: 2px solid gray; /* Line color */
  margin-top: 10px; /* Adjust margin as needed */
  margin-bottom: 40px;
}

#bottom {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

#wrapper {
  border: 1px solid black; /* Optional: Add a border for better visibility */
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9; /* Optional: Add a background color for better visibility */
  border-radius: 10px;
}

#top {
  display: flex;
  align-items: center;
}

#left {
  margin-right: 10px; /* Adjust the margin as needed */
}

.inventory_item {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

#right {
  flex-grow: 1;
}

#item_name {
  margin-left: 10px; /* Remove default margin */
  font-weight: bold;
  font-size: large;
  margin-bottom: 10px;
}

#item_details {
  margin-left: 10px; 
}

#item_quantity {
  text-align: right; /* Align the text to the right */
  margin: 0; /* Remove default margin */
  margin-right: 50px;
}
