/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/
body {
  line-height:1;
  line-height:1;
  height: 100%;
  width : 100%;
  min-height : 100vh;
  background: rgb(255, 255, 255);
  margin: 0; 
  overflow-x: hidden;
  overflow-y : scroll;
  font-family: Arial, sans-serif; 
  padding-top: 100px;
}
  
  .head {
    display: flex;
    background-color: orange;
    padding: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(113,26,33); 
    padding: 5px;
    border-bottom: 20px solid rgb(230,124,55); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .left-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
  }
  
  .lspu-logo{
    width: 90px;
    border-radius:50px;
  }
  
  .middle-section {
    flex: 1 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: flex !important;
    align-items: center !important;
  }
  
  form {
    display: flex !important;
    flex: 1 !important;
    align-items: center !important;
  }
  
  .search-bar {
    display: flex;
    flex: 1;
    height: 14px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: #000000; 
    font-size: 15px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
    width: 0;
  }
  
  .search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    
  }
  
  .search-button {
    background-color: rgb(230,124,55) !important; 
     color: #ffffff !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 3px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
    width: fit-content !important;
    height: 40px;
    margin-top: 7px;
  } 
  
  .search-button:hover  {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
  }
  
  .right-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  .ccs-logo{
    width: 92px;
    border-radius:46px;
  }
  .buttons-box {
    background-color: rgb(255, 255, 255);
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20); 
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
  }
  
  .button-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
    align-content: first baseline;
    gap: 1em;
  }
  
  .buttons-tabs {
    background-color: rgb(255,255,255);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    transition-duration: 0.4s;
  }
    
  .buttons-tabs:hover  {
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
  }
  
  .buttons-tabs:active {
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
  }
  
  a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial;
  }
  
  a:link { 
    text-decoration: none; 
  } 
  
  a:hover { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
  } 
  
  a:active { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
  } 
  .container, .recent-container{
    display: flex;
    justify-content: space-between;
    
  }
  .item-container{
    display: flex;
    justify-content: space-between;
    
  }
  .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none; 
    position: relative; 
    transition: color 0.3s ease, font-weight 0.3s ease; 
  }
  
  .navbar-brand::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: firebrick; 
    visibility: hidden;
    transform: scaleX(0); 
    transition: all 0.3s ease; 
  }
  
 
  .navbar-brand:hover {
    color:firebrick; 
    font-weight: lighter; 
  }
  
  .navbar-brand:hover::before {
    visibility: visible;
    transform: scaleX(1); 
  }


.user_info {
  position: fixed;
  top: 40%;
  left: 31%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px; /* Width of the popup */
  max-width: 80%;
  padding: 20px; /* Inner padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user_info.active {
    transform: translateY(-50%) scale(1);
}

.user_borrowed_info {
    position: fixed;
    top: 50%;
    left: 320px; 
    transform: translateY(-50%) scale(0);
    transition: transform 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 200px; 
    max-width: 80%;
    margin-left: 20px; 
}

.user_borrowed_info.active {
    transform: translateY(-50%) scale(1);
}

#user_info button {
  background-color: #dee2e6;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#user_info button:hover {
    color: orange;
}

#user_info p {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding-top: 5px;
}

.user-button {
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 30px;
  font-size: large;
}

.users button {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 30px;
    font-size: large;
}

.users button:hover {
    background-color: orange;
    color: white;
}

@media only screen and (max-width: 768px) {
  .users button {
      width: 100%;  
      height: auto;  
      margin-right: 0;  
  }
}

#wrapper {
  border: 1px solid black; 
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9; 
  border-radius: 10px;
}

.form{
  background-color: #f8f9fa;
  padding: 15px 0;
  border: 2px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
  margin: 30px 70px 0; 
  border-radius: 15px;
}

.user_borrowed_info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 300px;
  max-width: 80%;
}

.user_borrowed_info.active {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    margin: 10px; 
  }

  .container 
  {
    flex-direction: column; 
    align-items: flex-start;
  }
  .item-container
  {
    flex-direction: column; 
    align-items: flex-start;
  }

  .navbar-brand {
    margin: 5px 10px; 
  }
  .form,.form-item, .item-form-item{
    margin: 10px; 
  }
  h1 {
    margin-left: 0.5rem; 
  }
   .button-container {
    flex-direction: column; 
    align-items: flex-start;
  }
 button.remove,
  button.add {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; 
  }
  /*delete item*/
  .confirmation-pop-up {
    max-width: 300px; 
}
   
  .confirmation-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #item_body td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #item_body tr {
    display: block;
    margin-bottom: 10px;
  }

  #item_body tr:last-child {
    margin-bottom: 0;
  }

  #item_body td:before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
  #borrowFormId {
    max-width: 100%;
  }
  .form-popup {
    width: 90%;
}
#edit_back_buttons {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

}


