{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'unreturned/unreturnedstyle.css' %}" />
        <title>UNRETURNED</title>
    </head>

    <body>
        <h1 id="mema_title">Page ng UNRETURNED to boy. HAHA</h1>

        <div id="nav_btn" class="rounded_corners">
            <button><a href="{% url 'home' %}">Home</a></button>
            <button><a href="{% url 'recents' %}">Recents</a></button>
            <button><a href="{% url 'unreturned' %}" class="active_tab">Unreturned</a></button>
            <button><a href="{% url 'notification' %}">Notification</a></button>
            <button><a href="{% url 'userprofile' %}">Account</a></button>
            <button><a href="{% url 'logout' %}">Logout</a></button>
        </div>

        <div id="container" class="rounded_corners">

            <!-- test block code -->
            <!-- template for the items -->
            {% for item in unreturned_items reversed %}
            <div id="wrapper">

                <div id="top">
                    <div id="left">
                        {% if item.item_borrowed.item_stock.item_information.item_photo %}
                            <img src="{{ item.item_borrowed.item_stock.item_information.item_photo.url }}" alt="" class="inventory_item" height="100%" object-fit="contain">
                        {% endif %}

                    </div>
                    <div id="right">
                        <p id="item_name">{{ item.item_borrowed.item_stock.item_information.item_name }}</p>
                        <p id="item_details">
                            Time Borrowed: {{ item.item_borrowed.item_date_borrowed }}<br />
                            Time Returned: {{ item.item_borrowed.item_date_returned }}<br />
                            Borrower: {{ item.item_borrowed.item_borrower }}
                        </p>
                        <p id="item_quantity">Item Quantity: {{ item.item_borrowed.item_quantity }}</p>

                    </div>
                </div>
                <div id="bottom">
                    <div id="btn_con">
                        <!-- <button id="return_btn" class="rounded_corners">Return</button> -->
                        <a href="{% url 'return_item' item.id item.item_borrowed.item_stock.id %}">Return</a>
                    </div>
                </div>

            </div>
            {% endfor %}
            <!-- template for the items -->

        </div>

    </body>
</html>