{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'unreturned/unreturnedstyle.css' %}">
        <link rel="stylesheet" href="{% static 'unreturned/pop_up_formss' %}">
        <title>Faculty Unreturned</title>
    </head>

    <script defer src="{% static 'unreturned/buttons_for_unreturned.js' %}"></script>

    <body>
        <header>
            <div class="logo left">
                <img src="static/unreturned/unreturnedadmin/LSPU.png" alt="Left Logo">
            </div>
            <div class="middle-section">
                <form method="GET" action="{% url 'search_items' %}" class="search-form">
                    <input class="search-bar" type="text" name="q" value="{{ query }}" placeholder="Search for name/id/category">
                    <input class="search-button" type="submit" value="Search" name="b">
                </form>
            </div>
            <div class="logo right">
                <img src="static/unreturned/unreturnedadmin/CSS.png" alt="Right Logo">
            </div>
        </header>
        <div class="head"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">Home</a>
                    <a href="{% url 'recents' %}" class="navbar-brand">Recents</a>
                    <a href="{% url 'unreturned' %}" class="navbar-brand">Unreturned</a>
                    <a href="{% url 'notification' %}" class="navbar-brand">Notification</a>
                    <a href="{% url 'userprofile' %}" class="navbar-brand">Account</a>
                    <a href="{% url 'logout' %}" class="navbar-brand">Logout</a>
            </div>
        </nav>
        </div>

        <div id="mainForm" class="form">
        <div id="container" class="rounded_corners">

            <!-- test block code -->
            <!-- template for the items -->
            {% for item in unreturned_items reversed %}
            <div id="wrapper">

                <div id="top">
                    <div id="left">
                        {% if item.item_borrowed.item_stock.item_information.item_photo %}
                            <img src="{{ item.item_borrowed.item_stock.item_information.item_photo.url }}" class="inventory_item">
                        {% endif %}

                    </div>
                    <div id="right">
                        <p id="item_name">{{ item.item_borrowed.item_stock.item_information.item_name }}</p>
                        <p id="item_details">
                            Time Borrowed: {{ item.item_borrowed.item_date_borrowed }}<br />
                            Time Returned: {{ item.item_borrowed.item_date_returned }}<br />
                            Borrower: {{ item.item_borrowed.item_borrower }}
                        </p>
                        <p id="item_quantity">Item Quantity: {{ item.item_borrowed.item_quantity }}</p>

                    </div>
                </div>
                <div id="bottom">

                </div>
                <div class="recent-lines">
                    <div id="btn_con">
                        <button id="return_btn" class="rounded_corners" onclick="show_hide_pop_up()">Return</button>
                    </div>
                </div>
            </div>

            <div class="test_pop_up" id="popup_form">

                <form action="">

                    <label for="pristine">Pristine</label>
                    <input type="number" id="pristine" name="pristine" required >

                    <label for="damaged">Damaged</label>
                    <input type="number" name="damaged" id="damaged" required >

                    <a href="{% url 'return_item' item.id item.item_borrowed.item_stock.id item.item_borrowed.borrow_form_id %}">Return</a>

                </form>

            </div>
            {% endfor %}
            <!-- template for the items -->
        {% include 'home/result_list.html' %}

    </div>
</div>
    </body>
</html>