{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/adminbase.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">LSPU Admin</a></h1>
<div class="logo left">
  <img src="/static/home/adminhome/LSPU.png" alt="Left Logo">
</div>
<div class="logo right">
  <img src="/static/home/adminhome/CSS.png" alt="Right Logo">
</div> 


{% endblock %}

{% block content_title %}
<h1 id="site-purpose">LSPU Inventory System Admin</h1>
{% endblock %}

