/* Reset stylesheet */
html, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    /* Your existing body styles */
    line-height:1;
    line-height:1;
    height: 100%;
    width : 100%;
    min-height : 100vh;
    background: rgb(255, 255, 255);
    margin: 0; 
    overflow-x: hidden;
    overflow-y : scroll;
    font-family: Arial, sans-serif; /* Adjust the font family as needed */
    padding-top: 100px;
  }


/* Search bar / header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(113,26,33); /* Top color for the header */
    padding: 5px;
    border-bottom: 20px solid rgb(230,124,55); /* Bottom color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
  
.left-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
}
  
.lspu-logo{
    width: 90px;
    border-radius:50px;
}
  
.middle-section {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
  
form {
    display: flex;
    flex: 1;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 14px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: #000000; /* Set text color to be visible on the background color */
    font-size: 15px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
    width: 0;
}
  
.search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
  
.search-button {
    background-color: rgb(230,124,55); /* Set the submit button color */
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
} 
  
.search-button:hover  {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
  
.right-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}
  
.ccs-logo{
    width: 92px;
    border-radius:46px;
}
  
/* Buttons (home and logout) */
.guest-button-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
.guest-buttons-tabs {
    background-color: rgb(255,255,255);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    width: 150px;
    transition-duration: 0.4s;
}
    
.guest-buttons-tabs:hover  {
    box-shadow: 5px 5px 15px rgba(113,26,33, 0.40);
    text-decoration: underline solid  rgb(230,124,55) 2px;
}

.guest-buttons-tabs:active {
    box-shadow: 5px 5px 15px rgba(113,26,33, 0.40);
}

a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial;
}
  
a:link { 
    text-decoration: none; 
} 
  
a:hover { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
} 

a:active { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
} 

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#b1b7a3;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/
.category-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20); /* Optional: Add a shadow for better visibility */
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}

.category-title-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}  

.category-container-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 18px;
    width: 0;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.category_button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 0.5px solid rgb(171,177,177);
    border-radius: 6px;
    height: 230px;
    width: 170px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 50%  20% ;
    transition-duration: 0.2s;

    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center bottom;
    font-family: Arial;
    background-color: solid rgb(171,177,177) 1px;
    
}
  
.category_button:hover {
    border: 2px solid rgb(230,124,55);
    box-shadow: 8px 8px 10px rgba(113,26,33, 0.40);
}

.category_button:nth-child(1) {
    background-image: url(../home/categories_icon/cleaninggg.png);
    background-size: 120px;
}

.category_button:nth-child(2) {
    background-image: url(../home/categories_icon/furni.png);
    
}

.category_button:nth-child(3) {
    background-image: url(../home/categories_icon/roooom.png);
}

.category_button:nth-child(4) {
    background-image: url(../home/categories_icon/documents.png);
}

.category_button:nth-child(5) {
    background-image: url(../home/categories_icon/GADGETS.png);
}


/* List of items */
.items_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0;
}

.items-grid{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 2px solid rgb(171,177,177);
    border-radius: 6px;
    height: 180px;
    width: 130px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    flex-shrink: 0;
}

.items:hover {
    border: solid  rgb(230,124,55) 2px;
}

.item-pic {
    display: flex;
    width: 130px;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgb(171,177,177);
}

.item-name{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.items-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
}

.item_button{
    background-color: rgb(255, 255, 255);
    border:solid  rgb(153, 153, 153) 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    font-size: 12px;
    font-weight: 500;
    text-align: center bottom;
    font-family: Arial;
}

.back-button{
    background-color: rgb(255, 255, 255);
    border:solid  rgb(153, 153, 153) 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    font-size: 20px;
    font-weight: 500;
    text-align: center bottom;
    font-family: Arial;
}

.item_button:hover {
    color: rgb(230,124,55);
    border: solid rgb(230,124,55) 2px;
}


.back-button:hover {
    color: rgb(230,124,55);
    border: solid rgb(230,124,55) 2px;
}

/* BORROWING ITEM BOX */
#cleaning {
    display: none;
}

#gadget {
    display: none;
}

#furniture {
    display: none;
}

#room {
    display: none;
}

#dean {
    display: none;
}

h1 {
    color: red;
}

.inventory_item {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.item_information {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 700px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.item_information.active {
    transform: translate(-50%, -50%) scale(1);
}

.item_header {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
}

.item-header-pic {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
    flex: 1;
}

.name{
    font-size: 18px;
}

.item-header-info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid black;
    font-size: 12px;
    gap: 5px;

}

.item_body {
    padding: 10px;
    display: flex; 
    flex-direction: column;
    gap: 4px;
}

.item_body .close_button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-style: bold;
    align-self: flex-end;
    margin-right: 0;
}

.item_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 690px;
    gap: 5px;
    border-radius: 5px;
}

.borrow-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    color:  rgb(86, 86, 86);
}

.item-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 690px;
    gap: 10px;
    border-radius: 5px;
}

.borrow-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap: 7px;
    border-radius: 5px;
}

.borrow-quantity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap: 7px;
    border-radius: 5px;
    margin-top: 50px;
}

.borrow-quantity .input [type=number] {
    width: 3rem;
    padding: .5rem;
    border: solid #dddddd;
    border-width: 2px;
    border-radius: 3px;
    text-align: center;
}

.input [type=number]:active {
    border: solid #000000;

}

.borrow-quantity .borrow-button {
    background-color: rgb(255,255,255);
    border:solid  rgb(153, 153, 153) 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: right;
    transition-duration: 0.4s;
    justify-self: baseline;
    align-self: flex-end;
    margin-right: 0;
    margin-bottom: 0;
}
    
.borrow-quantity .borrow-button:hover  {
    color: rgb(230,124,55);
    border: solid  rgb(230,124,55) 2px;
}

.borrow-quantity.borrow-button:active {
    box-shadow: 5px 5px 15px rgba(113,26,33, 0.40);
}


