/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/

#cleaning {
    display: none;
}

#gadget {
    display: none;
}

#furniture {
    display: none;
}

#room {
    display: none;
}

#dean {
    display: none;
}

h1 {
    color: red;
}

.inventory_item {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.item_information {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.item_information.active {
    transform: translate(-50%, -50%) scale(1);
}

/* .add_item {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;    
}

.add_item.active {
    transform: translate(-50%, -50%) scale(1);
}

.add_category_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;    
}

.add_category_form.active {
    transform: translate(-50%, -50%) scale(1);
}

.delete_confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;     
}

.delete_confirmation.active {
    transform: translate(-50%, -50%) scale(1);
} */

.item_header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.item_header .close_button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-style: bold;
}

.item_body {
    padding: 10px 15px;
}
/* start diols*/

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }

 head {
   display: flex;
   background-color: orange;
   padding: 10px;
   width: 1450px;
 }

 header {
   display: flex;
   background-color: firebrick;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
 }

 .logo .logo-cont .left img{
  width: 135px;
  margin-right: auto;
 }
 
 .logo .logo-cont .right img{
  width: 95px;
  margin-left: auto;
 }

 .search-bar{
   flex-grow: 1;
   margin-left: 2%;
   display: flex;
   align-items: center;
 }

 .search-input{
   width: 95%; /* Adjusted to take 100% width on smaller screens */
   padding: 8px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
 }

 nav {
   background-color: #f8f9fa;
   padding: 15px 0;
   border-bottom: 1px solid #dee2e6;
   box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
   margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
   border-radius: 15px;
 }

 .navbar-brand {
   color: black;
   font-weight: bold;
   font-size: 2rem;
   margin-right: 10px;
   margin-left: 10px;
   text-decoration: none; /* Remove underline */
   position: relative; /* Position for the pseudo-element */
   transition: color 0.3s ease, font-weight 0.3s ease; /* Add a smooth color and font weight transition */
   gap: 15px;
 }
 
 /* Create an underline pseudo-element */
 .navbar-brand::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: firebrick; /* Initial underline color */
   visibility: hidden;
   transform: scaleX(0); /* Initially invisible */
   transition: all 0.3s ease; /* Add a smooth transition for visibility and scale */
 }
 
 /* Add hover effect */
 .navbar-brand:hover {
   color:firebrick; /* Change text color on hover */
   font-weight: lighter; /* Change font weight on hover, adjust as needed */
 }
 
 .navbar-brand:hover::before {
   visibility: visible;
   transform: scaleX(1); /* Make the underline visible and scale it */
 }

 .item .container{
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   gap: 10px;
   padding: 15px;
 }
 
 .item .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: left;
 }

.head {
   background-color: #f8f9fa;
   padding: 15px 0;
   border: 2px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
   box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
   margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
   border-radius: 15px;
 }

 .categories {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

 .categories {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid black;
  margin: 35px 35px 35px 35px; /* Adjusted margin for better responsiveness */
  border-radius: 15px;
  border: 3px solid gray; /* Add border style */
  border-radius: 10px; /* Add border-radius for rounded corners */
  padding: auto;
  
}

 .categories {
  background-color: #f8f9fa;
  padding: 10px 0;
  border-bottom: 1px solid black;
  margin: 35px 35px 35px 35px; /* Adjusted margin for better responsiveness */
  border-radius: 15px;
  border: 3px solid gray; /* Add border style */
  border-radius: 10px; /* Add border-radius for rounded corners */
  padding: auto;
} 

.form-item .items{
  text-align: center;
  padding:1.5rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);  
  outline: .1rem solid #ccc;
  outline-offset: 0;
  cursor: pointer;
}

.form-item .items:hover{
  outline: .2rem solid #FF7F00;
  outline-offset: -1rem;
  cursor: pointer;
}

 .items h3 {
   font-weight: bold;
   margin: 10px; /* Adjust the margin as needed */
   margin-left: 10px;
   margin-top: 15px;
 }

 .categories {
  text-align: center;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);  
  outline: .1rem solid #ccc;
  outline-offset: 0;
  cursor: pointer;
}

 .container .categories:hover{
    outline: .2rem solid #FF7F00;
    outline-offset: -1rem;
    cursor: pointer;
 }
 .item .container .category img{
    height: 10rem;
 }
 
 .item .container .category:hover img{
    transform: scale(.9);
 }
 
 .item .container .category h3{
    position: center;
    bottom: 1rem; left: 1.5rem;
    font-size: 2rem;
    color:#444;
 }
 
 .item .container .category:hover h3{
    color:#27ae60;
 }
