/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/

/* #region Body */
body {
    line-height:1;
    height: 100%;
    width : 100%;
    min-height : 100vh;
    background: rgb(255, 255, 255);
    margin: 0; 
    overflow-x: hidden;
    overflow-y : scroll;
    font-family: Arial, sans-serif; 
    padding-top: 100px;
}
/* #endregion */

/* #region Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(113,26,33); 
    padding: 5px;
    border-bottom: 20px solid rgb(230,124,55); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.left-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
}

.lspu-logo{
    width: 90px;
    border-radius:50px;
}

.middle-section {
    flex: 1 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: flex !important;
    align-items: center !important;
}

.middle-section form {
    display: flex;
    flex: 1;
    align-items: center;
}

.middle-section input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.search-bar {
    display: flex;
    flex: 1;
    height: 14px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: white;
    color: #000000; 
    font-size: 15px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.2);
    width: 0;
}

.search-bar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
}

.search-button {
    background-color: rgb(230,124,55) !important; 
    color: #ffffff !important;
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 3px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
    width: fit-content !important;
    height: 40px;
    margin-top: 7px;
}

.search-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
}

.right-section {
    width: 100px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}

.ccs-logo {
    width: 92px;
    border-radius:46px;
}
/* #endregion */

/* #region Navigation */
.guest-button-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 16px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
  
.guest-buttons-tabs {
    background-color: rgb(255,255,255);
    border: solid 1px black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
    transition-duration: 0.4s;
}
    
.guest-buttons-tabs:hover  {
    background-color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
}

.guest-buttons-tabs:active {
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
}

a {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial;
}
  
a:link { 
    text-decoration: none; 
} 
  
a:hover { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
} 

a:active { 
    color: rgb(230,124,55);
    text-decoration: underline solid  rgb(230,124,55) 2px;
} 

/* #endregion */

/* #region Main container */  
.category-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
}
/* #endregion */

/* #region Category */  
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif; 
}

.categories button {
    background-color: white;
    margin-top: 5px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.categories button:hover {
    background-color: orange;
}

.categories button p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.categories button p:hover {
    text-decoration: none;
}

.category_button {
    position: relative;
    color: black;
    cursor: pointer;
    border: 0.5px solid rgb(171, 177, 177);
    border-radius: 6px;
    height: 230px;
    width: 170px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: 50% 20%;
    transition-duration: 0.2s;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.category_button::after {
    content: "";
    display: block;
    height: 100%; 
}

.category_button span {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    text-align: center; 
}

.category_button img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.category_button:hover {
    background-color: orange;
}
/* #endregion */

/* #region Item */
.back-button {
    background-color: white;
    margin-top: 5px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.back-button:hover {
    background-color: orange;
}  

.items-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap; 
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square-container {
    display: flex;
    flex-direction: column; 
    border: 1px solid  rgb(0, 0, 0);
    border-radius: 6px;
    height: 150px;
    width: 130px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    flex-shrink: 0;
}
.item-photo {
    display: flex;
    width: 130px;
    justify-content: center; 
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgb(171, 177, 177);
}

.item-photo img {
    max-width: 100%; 
    max-height: 100%; 
}

.item-button {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;
}

.item-button button {
    background-color: white;
    margin-top: 5px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.item-button button:hover {
    background-color: orange;
}

.item_information {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 700px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 1000px;
    border: 1px solid black;
}

.item_information.active {
    transform: translate(-50%, -50%) scale(1);
}

.item_header {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    color: black;
    border-bottom: 1px solid black;
}

.item-header-pic {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
    flex: 1;
}

.item_header .close_button {
    margin-top: 5px;
    margin-bottom: auto;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
    padding: 5px;
}

.item_header img {
    margin-right: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.item_header p {
    margin: 0;
}

.header-info {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid black;
    font-size: 15px;
    gap: 5px;
}

.body_form_container{
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.item_body {
    padding: 10px 15px;
}

.item_body table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item_body td {
    border: 2px solid black;
    padding: 5px;
    text-align: left;
}

.item_body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.item_body tr:hover {
    background-color: #ddd;
}

.item_form {
    text-align: left;
}

#borrowFormId {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center !important;
}

#borrowFormId input {
    width: 60%;
    padding: 8px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
}

.borrow-row {
    margin-top: 5px;
}

.item-borrow-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.item-borrow-row p {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.item-borrow-row input[type="text"],
.item-borrow-row input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.item-borrow-row input[type="submit"] {
    background-color: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

.item-borrow-row input[type="submit"]:hover {
    background-color: orange
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.popup.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup .close-btn {
    float: right;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.popup .close-btn:hover {
    color: #666;
}

.popup p {
    margin: 0;
    font-size: 1em;
    color: #333;
}
/* #endregion */



