{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'login/loginstyle.css' %}">
        <title>LOGIN</title>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </head>
    <body>
        <form action = "/login" method = "POST">
            {% csrf_token %}
                <input class = "email" type = "email" name = "email" id = "email" placeholder = "Input your email..." required>
                <input class = "password" type="password" name="password" id="password" placeholder="Input your password..." required>
    
                <button type="submit">Login</button>
            </form>

            <div class = "forgot_pass"><a href="{% url 'reset_password' %}" target="_blank">Forgot password?</a> </div> 
    </body>
</html>