<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login/loginstyle.css' %}">
        <title>LOGIN</title>
       
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
   
    <body>

        <div class="right-design">

            <div class="middle-section">
                <img src="{% static 'login/lspu.png' %}" class="lspu-logo">
            </div>

            
        </div>

        <div class="left-design">

            <div>
                <img src="{% static 'login/top.png' %}" class="top">
            </div>

            <div>
                <img src="{% static 'login/bot.png' %}" class="bot">
            </div>

            <div class="guest_form">

            </div>
        </div>


        <div class="login-form-container">

                <div class="title-container">
                    <img src="{% static 'login/CCS.png' %}" class="ccs-logo">
                    <h2 class="title">COLLEGE OF <br>COMPUTER STUDIES</h2>
                </div>
            
            <form action = "/login" method = "POST">
            
                {% csrf_token %}
                <label>Email</label>
                    <input class="email" type = "email" name = "email" id = "email" placeholder = "Input your email..." required>
                <div class="forgot-pass-div">
                <label>Password</label>
                     <div class = "forgot_pass"><a href="{% url 'reset_password' %}" target="_blank">Forgot password?</a> </div> 
                </div>    
                     <input class="password" type="password" name="password" id="password" placeholder="Input your password..." required>

                    <div class="buttons">
                        <button class="login-button" type="submit">LOG IN</button>
                    </div>
                </form>
                <div class="buttons">
                    <form action="{% url 'guest_login' %}" method="post" class="guest-form">
                        {% csrf_token %}
                        <button class="guest-button" type="submit" id="guestbtn">LOG IN AS GUEST</button>
                    </form>
                </div>
            </div>
           
    </body>
</html>