#branding h1 a:link, #branding h1 a:visited {
    color: white; 
}
#site-purpose{
    color: #7A1A22;
    font-weight: bold;
}
a:link, a:visited {
    color: #7A1A22;
    font-weight: bold;
    
}
#content-related .module h2 {
    color: white;
    font-weight: bold;
    background-color: #7A1A22;
}
#content-related h3{
    color: #7A1A22;
    font-weight: 500;
    font-size: 18px;
}
.quiet, a.quiet:link, a.quiet:visited{
    color: #7A1A22;
    font-weight: 600;
}
body {
    background-color: #d4d4d4;
    
   
}

caption {
    background-color: #7A1A22 !important;
  }
tr:nth-child(even) {
background-color: #DAA2A7;

}

tr:nth-child(odd) {
background-color: #EAE7E7;
}

#content-related {
    background-color: #e6e6e6;
    color: #7A1A22;
    font-weight: 600;
    
    
}

#header {
    background-color:#7A1A22 ;
    height: 70px;
    
}

div.breadcrumbs {
    background-color: brown;
    
}

#changelist .actions {
    background-color: orange!important;
}

#changelist .paginator {
    background-color: violet!important;
}

#changelist .actions select {
    background-color: aquamarine;
}

#changelist .actions .button {
    background-color: blueviolet!important;
}

thead th {
    background-color: magenta;
}

.object-tools a:link, .object-tools a:visited {
    background-color: orange;
}

#nav-sidebar {
    background-color: pink;
}

#nav-filter {
    background-color: blue;
}

#toolbar {
    background-color: green!important;
}

:root {
    --body-bg: greenyellow;
    
}

.submit-row {
    background-color: blue!important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: aquamarine;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background-color: greenyellow;
}

.form-row {
    background-color: orange;
}

.selector .selector-available h2 {
    background-color: maroon!important;
}

.selector-chosen h2 {
    background-color: pink!important;
}

.form-row img, .form-row input {
    background-color: black;
}

.selector select {
    background-color: black;
}

.selector-chooser li {
    background-color: pink;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
    background-color: black;
}

.module h2, .module caption, .inline-group h2 {
    background-color: orange;
}

#changelist-filter {
    background-color: red!important;
}

