{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'login/resetpass.css' %}">
        <title>LOGIN</title>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </head>
    <body>

        <div class="right-design">

            <div class="middle-section">
                <img src="{% static 'login/lspu.png' %}" class="lspu-logo">
            </div>

            
        </div>

        <div class="left-design">

            <div>
                <img src="{% static 'login/top.png' %}" class="top">
            </div>

            <div>
                <img src="{% static 'login/bot.png' %}" class="bot">
            </div>

        </div>


        <div class="login-form-container">
						<div class="title-container">
							<img src="{% static 'login/lock.png' %}" class="lock-logo">
							<h1 class="title">Forgot Password</h1>
						</div>

					<form method="POST">
				
							{% csrf_token %}  
						<div class="frnote">
								<h2>Please enter the email address you’d like your password reset information sent to. </h2>
						</div>
						<div>
							<input class ="email" type="email" name="email" id="email" placeholder= "&#61447; Enter Email" style="font-family:FontAwesome , 'Inter'" required>
						</div>
						
						<div class="buttons">
							<button class="submit-button" type="submit">Send</button>
							<button class="back-button" type="submit">Back to Login</button>
						</div>
					</form>

			</div>
           
    </body>
</html>




