


	<!--Reset Password-->

	
        <form method="POST">
			
           {% csrf_token %}  
			  <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
			  <div class="frnote">
				<h2>Please enter the email address you’d like your</h2> 
					<h2>password reset information sent to. </h2>
			  </div>
			  <div>
				<input class ="fremail" type="email" name="email" id="email" placeholder= "&#61447; Enter Email" style="font-family:FontAwesome , 'Inter'" required>
				</div>
		
				<button class="frsubmit" type="submit">Send</button>
				<button class="frback" type="submit">Back to Login</button>
        </form>



