       <form method="POST">
			
           {% csrf_token %}   
		   <div class="form-container" >
			{% for field in form %}<!--name-->
			<div>
			<input class="form-field" {{ field }} >
			{{field.label_tag }}<!--form-->

			</div>
			{% endfor %}
		</div>

			<form>
            <div class="create">
			  <h1>Create New Password</h1>
			  </div>
			  <div class = "frtext">
			  <h1>New Password:</h1>
			  <h1>Confirm new password:</h1>
			</div>			  
			  <button class="frconfirm_submit" type="submit">Save Your Password</button>
			</form>
        </form>


