/*
Reset stylesheet
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Start coding here
*/
html{
    overflow-x: hidden;
 }
 
 body{
    background: #eee;
 }
 
 .header{
    background-color: #7a1a22;
    height: 100px;;
    width: 1500px;
    flex-grow: 1;
    display: flex;
    align-items: center;
 }
     
 .head{
    display: flex;
    background-color:#E67C37;
    padding: 5px;
    width: 1500px;
 }
     
 .header .logo-left img{
    width: 135px;
    padding: 2rem;
 }
    
 .header .logo-right img{
    width: 95px;
    padding: 3rem;
 }
 
 /*navigations*/
 nav{
    background-color: #f8f9fa;
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
 }
 
 .navbar-brand {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    padding: 3rem;
    text-decoration: none; /* Remove underline */
    position: relative; /* Position for the pseudo-element */
    transition: color 0.3s ease, font-weight 0.3s ease; /* Add a smooth color and font weight transition */
 }
 
 /* Add hover effect */
 .navbar-brand:hover {
    color:firebrick; /* Change text color on hover */
    font-weight: lighter; /* Change font weight on hover, adjust as needed */
 }
 
 .navbar-brand:hover::before {
    visibility: visible;
    transform: scaleX(1); /* Make the underline visible and scale it */
 }
 
 .form-container{
    background-color: #f8f9fa;
    padding: 13rem 0;
    border: 2px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 70px 0; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
 }
 
 .form-item {
    background-color: #f8f9fa;
    padding: 10rem;
    border-bottom: 1px solid black;
    margin: 35px 35px 35px 35px; /* Adjusted margin for better responsiveness */
    border-radius: 15px;
    border: 3px solid gray; /* Add border style */
    border-radius: 10px; /* Add border-radius for rounded corners */
    padding: auto;
 }
 
 .info{
   margin-top: -10rem;
 }
 .info h2{
   margin-top: .5rem;
   margin-left: 18rem;
 }

.btn{
margin-left: 18rem;
margin-top: 1rem;
}

 p{
    font-family: orienta;
    font-weight:lighter;
    text-align: left;
    margin-top: .5rem;
    margin-left: 18rem;
 }
 
.pic{
    margin-left: 5rem;
}
 
 a:link{
    color: #000;
    background-color: transparent;
    text-decoration: none;
 }
  
 a:hover{
    color: #000;
    background-color: transparent;
    text-decoration: underline;
 }
  
 a:active{
    color: #92141e;
    background-color: transparent;
    text-decoration: underline;
 }
